ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

body.chapter-titlepage {
  position: relative;
}

body.chapter-titlepage h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}