html {
  -epub-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}

body.titlepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

body.titlepage h1 {
  margin: 0;
  padding: 1em;
  text-align: center;
}